# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Python virtual environment
backend/.venv/

# Environment variables
backend/.env
src/components/chatbot/backend/.env
src/components/chatbot/backend/.venv/

__pycache__/
*.pyc

# Ignore only the dataset
src/components/chatbot/backend/data/recipes_data.csv

# Ignore the Tinarecipe.csv file
src/components/chatbot/backend/data/Tinarecipe.csv