/* PALETTE ONLY */
:root {
  --blueberry: #783D19;
  --strawberry: #C4661F;
  --buttercream: #FEFAE0;
  --violet: #A9B388;
  --meringe: #F9EBC7;
  --text-dark: #3F2A1A;
}

/* CLEAN RESET */
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}



